{% extends "base_us.html" %}
{% block title %}
Publicaciones

{% endblock %}
{% load static %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="container">

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">administrador de Carrusel</h1>
        </div>
    </div>

    {% for all_carrusels in all_carrusels %}
            <div class="card border-secondary mb-3 ">
                {% if all_carrusels.carousel_pic %}
                <img class="card-img-top border-primary" src="{{all_carrusels.carousel_pic.url}}" width="700"
                    height="300">
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{all_carrusels.title}}</h5>
                    <p class="card-text">{{all_carrusels.description}}</p>
                    <a href="{% url 'publication_app:edicionCarrusel' all_carrusels.id %}" class="btn btn-outline-primary ">Editar</a>
                    <a href="{% url 'publication_app:eliminaCarrusel' all_carrusels.id %}" class="btn btn-outline-primary ">Eliminar</a>
                </div>
            </div>
    {% endfor %}


</div>

{% endblock %}