{% extends "base_us.html" %}
{% block title %}
Crear Plan de Trabajo
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container d-flex justify-content-center">
    <div class="card">
        <div class="card-header">
            <h2>Crear Plan de Trabajo</h2>
        </div>
        <div class="card-body " style="width: 40rem;">

            <form enctype="multipart/form-data" method="post" class="post-form">
                <div class="form-group p-2">
                    <label>Titulo:</label>
                    {{ form.title}}
                </div>
                <div class="form-group p-2">
                    <label>Autor:</label>
                    {{ form.author}}
                </div>
                <div class="form-group p-2">
                    <label>Contenido 1:</label>
                    {{ form.content1}}
                </div>
                <div class="form-group p-2">
                    <label>Activo:</label>
                    {{ form.Activo}}
                </div>
                <div class="form-group p-2">
                    <label>Imagen Publicación:</label>
                    {{ form.pic}}
                </div>
                <div class="form-group p-2">
                    <label>Archivo:</label>
                    {{ form.file1}}
                </div>


                <div class=" d-flex justify-content-center">
                    <span class="p-2">
                        <input class="btn btn-danger " type="submit" value="Confirm">
                    </span>
                    <span class="p-2">
                        <a href="{% url 'publication_app:indexPlanDeTrabajo' %}" class="btn btn-primary">Cancelar</a>
                    </span>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
<br>
<br>
<br>
{% endblock %}