{% extends "base_us.html" %}
{% block title %}
Carrusel
{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container d-flex justify-content-center">
    <div class="card">
        <div class="card-header">
            <h2>Crear carrusel</h2>
        </div>

        <div class="card-body " style="width: 40rem;">

            <form enctype="multipart/form-data" method="post" class="post-form"> {% csrf_token %}

                <div class="form-group p-2">
                    <label>Título:</label>
                    {{ form.title}}
                </div>
                <div class="form-group p-2">
                    <label>Descripción:</label>
                    {{ form.description}}
                </div>

                <div class="form-group p-2">
                    <label>Foto del carrusel:</label>
                    {{ form.carousel_pic}}
                </div>


                <div class="form-group p-2">
                    <label>Orden Publicación:</label>
                    {{ form.ordenPublication}}
                </div>
                <div class="form-group p-2">
                    <label>Mostrar Botón:</label>
                    {{ form.showbuton}}
                </div>



                <div class="form-group p-2">
                    <label>Nombre Botón</label>
                    {{ form.nameButon}}
                </div>
                <div class="form-group p-2">
                    <label>Link Botón 2:</label>
                    {{ form.linkButon}}
                </div>


                <div class=" d-flex justify-content-center">
                    <span class="p-2">
                        <input class="btn btn-success " type="submit" value="Confirm">
                    </span>
                    <span class="p-2">
                        <a href="{% url 'publication_app:carruselAdmin' %}" class="btn btn-primary">Cancelar</a>
                    </span>
                </div>
                {% csrf_token %}
            </form>

        </div>
    </div>
</div>
<br>
<br>
<br>
{% endblock %}