{% extends "base_us.html" %}
{% block title %}
Escuelas
{% endblock %}
'', '', '', '', '', '', 'linkButon'
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container d-flex justify-content-center">
    <div class="card">
        <div class="card-header">
            <h2>Editar Escuela</h2>
        </div>
        <div class="card-body " style="width: 40rem;">


            <form enctype="multipart/form-data" method="post" class="post-form">

                    <div class="form-group p-2">
                        <label>Unidad Académica:</label>
                        {{ form.UnidadAcademica}}
                    </div>
                    <div class="form-group p-2">
                        <label>Carrera:</label>
                        {{ form.nombreCarrera}}
                    </div>


                    <div class="form-group p-2">
                        <label>Dirección:</label>
                        {{ form.direction}}
                    </div>
                    <div class="form-group p-2">
                        <label>Sitio web:</label>
                        {{ form.urlSite}}
                    </div>



                    <div class="form-group p-2">
                        <label>Logo carrera:</label>
                        {{ form.logo_pic}}
                    </div>
                    <div class="form-group p-2">
                        <label>Miniatura logo carrera:</label>
                        {{ form.miniature_pic}}
                    </div>

                <div class="form-group p-2">
                    <label>Universidad asociada:</label>
                    {{ form.Universidad}}
                </div>


                <div class="form-group p-2">
                    <label>Carrusel 1:</label>
                    {{ form.carrusel_pic_1}}
                </div>

                <div class="form-group p-2">
                    <label>Título 1:</label>
                    {{ form.cp_1_title}}
                </div>
                <div class="form-group p-2">
                    <label>Descripción 1:</label>
                    {{ form.cp_1_description}}
                </div>
                <div class="form-group p-2">
                    <label>Link 1:</label>
                    {{ form.cp_1_linkButon}}
                </div>

                <div class="form-group p-2">
                    <label>Carrusel 2:</label>
                    {{ form.carrusel_pic_2}}
                </div>

                <div class="form-group p-2">
                    <label>Título 2:</label>
                    {{ form.cp_2_title}}
                </div>
                <div class="form-group p-2">
                    <label>Descripción 2:</label>
                    {{ form.cp_2_description}}
                </div>
                <div class="form-group p-2">
                    <label>Link 2:</label>
                    {{ form.cp_2_linkButon}}
                </div>



                <div class="form-group p-2">
                    <label>Carrusel 3:</label>
                    {{ form.carrusel_pic_3}}
                </div>

                <div class="form-group p-2">
                    <label>Título 3:</label>
                    {{ form.cp_3_title}}
                </div>
                <div class="form-group p-2">
                    <label>Descripción 3:</label>
                    {{ form.cp_3_description}}
                </div>
                <div class="form-group p-2">
                    <label>Link 3:</label>
                    {{ form.cp_3_linkButon}}
                </div>

                <div class="form-group p-2">
                    <label>Contenido 1:</label>
                    {{ form.content_1}}
                </div>
                <div class="form-group p-2">
                    <label>Contenido 2:</label>
                    {{ form.content_2}}
                </div>

                <div class="form-group p-2">
                    <label>Contenido 3:</label>
                    {{ form.content_3}}
                </div>



                    <div class="form-group p-2">
                        <label>Archivo 1:</label>
                        {{ form.file1}}
                    </div>

                    <div class="form-group p-2">
                        <label>Archivo 2:</label>
                        {{ form.file2 }}
                    </div>

                <div class="form-group p-2">
                    <label>Archivo 3:</label>
                    {{ form.file3 }}
                </div>

                <div class=" d-flex justify-content-center">
                    <span class="p-2">
                        <input class="btn btn-success " type="submit" value="Confirm">
                    </span>
                    <span class="p-2">
                        <a href="{% url 'publication_app:escuelaAdmin' %}" class="btn btn-primary">Cancelar</a>
                    </span>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
<br>
<br>
<br>
{% endblock %}