{% extends "base_us.html" %}
{% block title %}
Carrusel
{% endblock %}
'', '', '', '', '', '', 'linkButon'
{% block content %}
<br>
<br>
<br>
<br>
<br>
<div class="container card mb-3">
    <div class="sign-form ">
        <br>      
        <form enctype="multipart/form-data" method="post" class="post-form"> {% csrf_token %}
            <h1>Edición de carrusel</h1>
            <br>
            <div class="input-group mb-3 ">
                <div class="input-group-append">
                    <span class="input-group-text">Título:</span>
                </div>
                {{ article.title}}
            </div>
            <div class="input-group mb-3 ">
                <div class="input-group-append">
                    <span class="input-group-text">Descripción:</span>
                </div>
                {{ article.description}}
            </div>
            
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <span input type="file">Foto del carrusel:</span>
                </div>
                {{ article.carousel_pic}}
            </div>

            <div class="row">
                
                <div class="input-group mb-3 col">
                    <div class="input-group-append">
                        <span class="input-group-text">Orden Publicación:</span>
                    </div>
                    {{ article.ordenPublication}}
                </div>
                <div class="input-group mb-3 col">
                    <div class="input-group-append">
                        <span class="input-group-text" >Mostrar Botón:</span>
                    </div>
                    {{ article.showbuton}}
                </div>

            </div>
            
            <div class="row">
                
                <div class="input-group mb-3 col">
                    <div class="input-group-append">
                        <span class="input-group-text">Nombre Botón</span>
                    </div>
                    {{ article.nameButon}}
                </div>
                <div class="input-group mb-3 col">
                    <div class="input-group-append">
                        <span class="input-group-text">Link Botón 2:</span>
                    </div>
                    {{ article.linkButon}}
                </div>

            </div>

            <div class="d-flex justify-content-center mt-3 login_container row">
                <button type="submit" class="btn btn-success btn-lg btn-block col">Actualizar Carrusel</button>
                <a href="{% url 'publication_app:carruselAdmin' %}" class="btn col">Cancelar</a>
            </div>
        </form>
<br>
<br>
<br>
    </div>
</div>
{% endblock %}
