{% extends "base_us.html" %}

{% block title %}
Borrar escuela
{% endblock %}

{% block content %}
<div class="app-card app-card-orders-table shadow-sm mb-5">
  <hr>
  <br>
  <h1>Eliminar Publicación</h1>
  <div class="container card mb-3" style="width: 30rem;">
    <div class="sign-form ">
      <h3>¿Desea eliminar este elemento de la lista de publicaciones?</h3>
      {% if publication.miniature_pic %}
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <img src="{{publication.miniature_pic.url}}" alt="Admin" class="rounded-circle" width="200">
          </div>
        </div>
      </div>
      {% endif %}

      <table class="table">
        <thead>
          <th>Título</th>
          <th>Autor</th>
        </thead>
        <tbody>
          <tr>
            <td>{{publication.title}}</td>
            <td>{{publication.author}}</td>
          </tr>
        </tbody>
      </table>
      <form method="post" class="order-form">
        <p><input class="btn btn-danger btn-sm" type="submit" value="Confirm"></p>
        <a href="{% url 'publication_app:publicationAdmin' %}" class="btn btn-outline-primary ">Cancelar</a>
        {% csrf_token %}
      </form>
    </div>
  </div>
</div>
{% endblock %}