{% extends "base_us.html" %}
{% block title %}
{{article.title}}
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{article.title}}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Publicado el {{article.published}} por {{article.author}}
                    </div>
                </header>
                <figure class="mb-4">
                    {% if article.publication_pic %}
                    <img class="img-fluid rounded bg-image hover-zoom" src="{{article.publication_pic.url}}">
                    {% else %}
                    <img class="img-fluid rounded" src=" https://dummyimage.com/900x400/ced4da/6c757d.jpg">
                    {% endif %}
                </figure>
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{article.content1}}</p>
                    {% if article.content2 %}
                    <hr>
                    <p class="fs-5 mb-4">{{article.content2}}</p>
                    {% endif %}
                    {% if article.content2 %}
                    <hr>
                    <p class="fs-5 mb-4">{{article.content3}}</p>
                    {% endif %}
                </section>
                <section class="mb-5">
                    {% if article.file1 or article.file2 or article.file3 %}
                        <hr>
                        <p>Archivos adjuntos</p>
                        {% if article.file1 %}
                            <a class="fs-5 mb-4" href="/imagesPublications/{{article.file1}}" target="_blank">{{article.file1}}</a>
                        {% endif %}
                        {% if article.file2 %}
                            <a class="fs-5 mb-4" href="/imagesPublications/{{article.file2}}" target="_blank">{{article.file2}}</a>
                        {% endif %}
                        {% if article.file3 %}
                            <a class="fs-5 mb-4" href="/imagesPublications/{{article.file3}}" target="_blank">{{article.file3}}</a>
                        {% endif %}
                    {% endif %}
        
                </section>



        </div><!-- /.blog-post -->
        </article>
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-header">Atajos</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Página de inicio</a></li>
                                <li><a href="#!">Publicaciones</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">JavaScript</a></li>
                                <li><a href="#!">CSS</a></li>
                                <li><a href="#!">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">Descripción</div>
                <div class="card-body">{{article.description}}</div>
            </div>
        </div>
    </div><!-- /.row -->
    {% endblock %}