{% extends "base_bootstrap.html" %}
{% block navbar %}

{% load static %}
<style>
  .navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }

  .navbar-custom {
    height: 100px;
  }

  @media (max-width: 770px) {
    .cosoNav {
      display: none !important;
    }
  }

  .enlinea {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body{
    background-color: #ededed;
  }
</style>

<nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-custom" style="background-color: #267685">
  <div class="collapse navbar-collapse cosoNav" id="navbarNav">
    <ul class="navbar-nav p-4">
      <li class="nav-item">
        <a class="nav-link h5" href="{% url 'publication_app:navMision' %}">Misión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h5" href="{% url 'publication_app:navObjetivo' %}">Objetivo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h5" href="{% url 'publication_app:navPlanDeTrabajo' %}">Plan de trabajo</a>
      </li>
    </ul>
  </div>
  <!-- <a class="navbar-brand" href="{% url 'eduacionapp:landing'%}"> -->
  <div class="logo-image navbar-brand">
    <a href="{% url 'eduacionapp:landing'%}">
      <img src="{% static 'images/logo_uaz.png'%}" alt="Generic placeholder image" class="rounded">
    </a>
    <a href="{% url 'eduacionapp:landing'%}">
      <img src="{% static 'images/medicina.png'%}" alt="Generic placeholder image" width="90" height="90"
        class="rounded">
    </a>
    <a href="{% url 'eduacionapp:landing'%}">
      <img src="{% static 'images/enfer.png'%}" alt="Generic placeholder image" width="90" height="90" class="rounded">
    </a>
    <a href="{% url 'eduacionapp:landing'%}">
      <img src="{% static 'images/odonto.png'%}" alt="Generic placeholder image" width="90" height="90" class="rounded">
    </a>
    <a href="{% url 'eduacionapp:landing'%}">
      <img src="{% static 'images/cq.png'%}" alt="Generic placeholder image" width="90" height="90" class="rounded">
    </a>
    <a href="{% url 'eduacionapp:landing'%}">
      <img src="{% static 'images/acs.png'%}" alt="Generic placeholder image" width="90" height="90" class="rounded">
    </a>
  </div>

  {% if user.username == "admin" %}
  <div class="nav navbar-nav navbar-right" id="navbarNav">
    <ul class="navbar-nav p-4">
      <li class="nav-item">
        <a class="nav-link h5" href="{% url 'publication_app:adminCenter' %} ">Centro de administración</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h5" href="{% url 'eduacionapp:logout' %}?next={% url 'eduacionapp:login' %}">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
  {% endif %}

</nav>


{% endblock %}