{% extends "base_us.html" %}

{% block title %}
    Borrar usuario
{% endblock %}

{% block content %}
    <h1>Borrar usuario  {{ order.id }}</h1>
<div class="app-card app-card-orders-table shadow-sm mb-5">
  <hr>
  <br>
    <div class="container card mb-3" style="width: 30rem;">
    <div class="sign-form ">
  <table class="table">
    <thead>
      <th>Matricula</th>
      <th>Nombre(s)</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <tr>
      <td>{{usua.username}}</td>
      <td>{{usua.first_name}}</td>
      <td>{{usua.last_name}}</td>
      </tr>
    </tbody>
  </table>
  <form  method="post" class="order-form">      
    <p><input type="submit" value="Confirm"></p>
    {% csrf_token %}
  </form>
</div>
{% endblock %}