{% extends "base_us.html" %}
{% block title %}
landing
{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
<main role="main">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        {% for c_sec_1 in c_sec_1 %}
          {% if c_sec_1.carousel_pic  %}
            <img class="first-slide" src="{{c_sec_1.carousel_pic.url}}" alt="First slide">
          {% endif %}
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>{{c_sec_1.title}}</h1>
              <p>{{c_sec_1.description}}</p>
              {% if c_sec_1.showbuton == 'A'  %}
                <p><a class="btn btn-lg btn-secondary" href="{{c_sec_1.linkButon}}" role="button">{{c_sec_1.nameButon}}</a></p>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="carousel-item">
        {% for c_sec_2 in c_sec_2 %}
          {% if c_sec_2.carousel_pic  %}
            <img class="second-slide" src="{{c_sec_2.carousel_pic.url}}" alt="Second slide">
          {% endif %}
        <div class="container">
          <div class="carousel-caption">
            <h1>{{c_sec_2.title}}</h1>
            <p>{{c_sec_2.description}}</p>
            {% if c_sec_2.showbuton == 'A'  %}
            <p><a class="btn btn-lg btn-secondary" href="{{c_sec_2.linkButon}}" role="button">{{c_sec_2.nameButon}}</a></p>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="carousel-item">
        {% for c_sec_3 in c_sec_3 %}
          {% if c_sec_3.carousel_pic  %}
            <img class="third-slide" src="{{c_sec_3.carousel_pic.url}}" alt="Third slide">
          {% endif %}
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>{{c_sec_3.title}}</h1>
            <p>{{c_sec_3.description}}</p>
            {% if c_sec_3.showbuton == 'A'  %}
            <p><a class="btn btn-lg btn-secondary" href="{{c_sec_3.linkButon}}" role="button">{{c_sec_3.nameButon}}</a></p>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    
    <!-- Primera seccion de imagenes redondas -->
    <div class="row">
      {% for f_section in f_sec %}
        <div class="col-lg-4">
            {% if f_section.miniature_pic  %}
              <img class="rounded-circle"
                src="{{f_section.miniature_pic.url}}"
                alt="Generic placeholder image" width="140" height="140">
            {% endif %}

          <h2>{{f_section.nombreCarrera}}</h2>
          <p>{{f_section.description}}</p>
          <p><a class="btn btn-secondary" href="{% url 'publication_app:schoolView' f_section.id %}" role="button">Visitar &raquo;</a></p>
        </div>
      {% endfor %}
    </div>
    <!-- /Termina Primera seccion de imagenes redondas -->


    <!-- Segunda seccion las cuales son fijas -->

    <hr class="featurette-divider">
    {% for s1_section in s_sec1 %}
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">{{s1_section.title}}</h2>
          <p class="lead">{{s1_section.description}}</p>
        </div>
        <div class="col-md-5">
          {% if s1_section.miniature_pic  %}
            <img class="featurette-image img-fluid mx-auto" src="{{s1_section.miniature_pic.url}}"
              alt="Generic placeholder image">
          {% endif %}
        </div>
      </div>
    {% endfor %}
    <hr class="featurette-divider">
    {% for s2_section in s_sec2 %}
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">{{s2_section.title}}</h2>
          <p class="lead">{{s2_section.description}}</p>
        </div>
        <div class="col-md-5 order-md-1">
          {% if s2_section.miniature_pic  %}
            <img class="featurette-image img-fluid mx-auto" src="{{s2_section.miniature_pic.url}}"
              alt="Generic placeholder image">
          {% endif %}
        </div>
      </div>
    {% endfor %}
    <hr class="featurette-divider">
    {% for s3_section in s_sec3 %}
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">{{s3_section.title}}</h2>
          <p class="lead">{{s3_section.description}}</p>
        </div>
        <div class="col-md-5">
          {% if s3_section.miniature_pic  %}
            <img class="featurette-image img-fluid mx-auto" src="{{s3_section.miniature_pic.url}}"
              alt="Generic placeholder image">
          {% endif %}
        </div>
      </div>
    {% endfor %}
    <hr class="featurette-divider">
    <!-- /termina segunda seccion -->
  </div>
  <!-- Tercera seccion -->
  <div class="container">
    <h2 class="app-page-title"> Notas y noticias </h2>

    <div class="row">
      {% for t_section in t_sec %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            {% if t_section.miniature_pic  %}
            <img class="card-img-top" src="{{t_section.miniature_pic.url}}"
              alt="Card image cap">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{t_section.name}}</h5>
              <p class="card-text">{{t_section.description}}.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-primary" ><a href="{% url 'publication_app:publication' t_section.id %}">Visitar</a> </button>
                </div>
                <small class="text-muted blog-post-meta" > {{t_section.published}} por <a href="#">{{t_section.author}}</a></small>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <!-- /Termina Tercera seccion -->

</main>


{% endblock %}