{% extends "base_us.html" %}
{% block title %}
Login
{% endblock %}
{% load static %}
<style>
    .card {
        margin: 0 auto;
        /* Added */
        float: none;
        /* Added */
        margin-bottom: 10px;
        /* Added */
    }
</style>
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container d-flex justify-content-center">
    <div class="card ">
        <div class="card-body " style="width: 18rem;">
            <div>
                <img class="card-img-top" src="{% static 'images/uaz.jpg' %} " alt="Card image cap">
            </div>
            <br>
            <div>
                <form method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3 justify-content-center">
                        <div>
                            <p class="card-text">Usuario:</p>
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="input-group mb-3 justify-content-center">
                        <div>
                            <p class="card-text">Contraseña: </p>
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn btn-primary " type="submit" value="Acceder" href="{% url 'eduacionapp:home' %}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}